// ===== Palette:  ===== //
$accent-color1: #0078d4;
$accent-color2: #1a86d9;
$accent-color3: #5ca9e5;

$background-color: #e8e1e1;
$text-color: invert($background-color, 100);
$mute-text-color: transparentize($text-color, 0.5);
$hover-color: transparentize($accent-color1, 0.5);
